@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.eot');
    src: url('../fonts/vazir.ttf') format('truetype'),
        url('../fonts/vazir.woff2') format('woff2'),
        url('../fonts/vazir.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
}


body {
    font-family: 'vazir';
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(48, 46, 46);
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box {
    position: relative;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.imgbox {
    position: absolute;
    width: 100%;
    height: 100%;
}
.imgbox h2,.content{
    display: none;
}
.imgbox img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box .imgbox.active {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
}
.imgbox.active img{
    top: 80px;
    right: 50px;
    bottom: 50px;
    left:50px;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
}
.imgbox.active h2{
    text-align: center;
    color: #fff;
    display: block;
    margin-top: 20px;
}
.imgbox.active .content{
    color: #fff;
    width: 91.3%;
    position: absolute;
    bottom: 20px;
    right: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    display: block;

}
